{% extends 'base.html.twig' %}


{% block add %}

    <div role="main" class="container">
        <h2><input class="form-control form-control-lg text-center" padding type="text" placeholder=" Hubot Frequently asked Questions" readonly></h2>
    <div class="form-group">
        <div class="col-auto">
            {{ form_start(our_form) }}
            {{ form_widget(our_form) }}
        </div>
    </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

    <input type="submit" value="Submit" class="btn btn-success"/>

    {{ form_end(our_form) }}
</div>
    </div>

{% endblock %}