{% extends 'base.html.twig' %}

{% block title %}Edit FAQ{% endblock %}
{% block add %}

    <div role="main" class="container">
        <h2><input class="form-control form-control-lg text-center" padding type="text" placeholder=" Hubot Frequently asked Questions EDIT" readonly></h2>
        <div class="form-group">
            <div class="col-auto">
                {{ form_start(form) }}
            </div>
        </div>

        {#<input type="submit" value="Submit" class="btn btn-success"/>#}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}